.radioTab {
    padding-top: 1rem;
}
    .radioTab-input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
    }
    .radioTab-label {
        display: inline-block;
        margin: 0 0 .5rem;
    }
    .radioTab-input:checked + .radioTab-label {
        color: #fff;
        background: #747786;
        border-color: #747786;
    }