.timeField {
    position: relative;
}
    .timeField-up, .timeField-down {
        position: absolute;
        top:0; right:0; bottom:0;
        width: 2rem;
        margin: 1px 0;
        font-size: 20px;
        color: #555;
        border-left: 1px solid #ccc;
        background: #fff;
    }
    .timeField-up:hover, .timeField-down:hover {
        background: #444;
        color: #fff;
    }
    .timeField-outer {
        position: relative;
    }
    .timeField-up {
        padding-bottom: 4px;
        margin-right: 1px;
    }
    .timeField-down {
        right: 2rem;
        padding-top: 4px;
    }