.passwordField {}
    .passwordField-inputWrap {
        position: relative;
        margin-bottom: .5rem;
    }
    .passwordField-visibility {
        position: absolute;
        right: 7px;
        top: 8px;
    }