.passwordField {}
    .passwordField-inputWrap {
        position: relative;
        margin-bottom: .5rem;
    }
    .passwordField-visibility {
        position: absolute;
        right: .4375rem;
        top: .5rem;
    }